# Go binaries
*.exe
*.exe~
api
/api/api

# Test binary
*.test

# Build output
/build/
/dist/

# Dependencies

/api/vendor/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace